<h1>
     Add new Reservation 
 </h1>
 <form method = "post" action='/create'>
     Name :<br>
     <input type="text" name="title"><br>
     Number of people :<br>
     <input type="text" name="numpeople"><br>
     Date :<br>
     <input type="date" name="date"><br>
     Phone Number :<br>
     <input type="number" name="phone">
     <input type="submit" name="submit request">
     
     <a href="/"><br>
     </br>
     List of Reservations</a>
 </form>